body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: #fff;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  #welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
  }
  
  #projects {
    padding: 50px;
    background: #e2e2e2;
  }
  
  .project-tile {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-tile a {
    text-decoration: none;
    color: #333;
  }
  
  #contact {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  @media (max-width: 720px) {
    nav ul {
      flex-direction: column;
    }
  
    .project-tile {
      margin: 10px 0;
    }
  }
  
  @media (max-width: 550px) {
    .hero-title {
      font-size: 6rem;
    }
    .hero-subtitle, .author, .quote, .list-title {
      font-size: 1.8rem;
    }
    .social-icons {
      font-size: 2rem;
    }
    .text {
      font-size: 1.6rem;
    }
  }
  